body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    &--main {
       display: block;
       letter-spacing: 3.5rem;
       font-size: 6rem;
       font-weight: 400;
       animation: moveInLeft 1s ease-out;

       @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
    }
  
   }
  
  &--sub {
       display: block;
       letter-spacing: 1.75rem;
       font-size: 1.5rem;
       font-weight: 700;
       animation: moveInRight 1s ease-out;

       @include respond(phone) {
        letter-spacing: .5rem;
       }
   }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    outline-offset: 1rem;
    // letter-spacing: .5rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
       }

    @include respond(phone) {
        font-size: 2.5rem;
       }

    &:hover {
        // outline: 1.5rem solid $color-primary;
        transform: skewY(2deg) skewX(15deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($color-dark, .2);
    }

}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}